// font-size
.f-10 {
  font-size: 1rem;
}
.f-16 {
  font-size: 1.6rem;
}
.f-22 {
  font-size: 2.2rem;
}
.f-30 {
  font-size: 3rem;
}

// font-weight

.f-400 {
  font-weight: 400;
}
.fw-300 {
  font-weight: 300;
}
.fw-500 {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
// line-height
